Makefile
autom4te.cache
*~
*.Pto
.deps
config.h
config.log
config.status
gnome-pty-helper/compile
stamp-h1
gtk-doc.m4
libtool
po/Makefile.in
po/POTFILES
po/stamp-it
*.pyc
python/pyvte.pc
test-driver
vte-uninstalled.pc
vte.pc
*.o
*.gmo
.libs
doc/openi18n/cursor
*.lo
*.la
src/vte
gnome-pty-helper/gnome-pty-helper
python/vte.c
src/interpret
src/slowcat
src/stamp-vtetypebuiltins.h
